/* Switch Toggle */
.toggle-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 44px;
}

.toggle-switch input {
    display: none;
}

.slider {
    background-color: #262626;
    /* Dark Grey */
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 1px solid #404040;
}

.slider:before {
    background-color: #808080;
    /* Grey Knob */
    bottom: 3px;
    content: "";
    height: 16px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.slider {
    background-color: #FFFFFF;
    /* White */
    border-color: #FFFFFF;
}

input:checked+.slider:before {
    transform: translateX(20px);
    background-color: #000000;
    /* Black Knob */
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}